/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

form, input, .base_div, .drop_down, .drop_touch:hover > .drop_down {
  background: #FAE7F7;
  border-color: #ECBCE3;
  border-size: 2px;
  border-style: solid;
  border-radius: 10px;
  font-family: "PT Serif", serif;
  font-size: 15px;
  padding: 10px;
  margin: 10px 0;
  outline: none;
  display: block; }

button:hover, input[type="submit"]:hover, input:focus, .drop_touch:hover > .drop_down {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out; }

button, input[type="submit"] {
  background-color: #B8ED93;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0;
  border-color: #D5F6C4;
  border-size: 2px;
  border-style: solid;
  font-family: "PT Serif", serif;
  font-size: 15px; }

button:hover, input[type="submit"]:hover {
  background-color: #D5F6C4; }

.alert {
  background: #A03D8D;
  border-color: #BC61AB;
  border-size: 2px;
  border-style: solid;
  border-radius: 3px;
  font-family: "PT Serif", serif;
  font-size: 15px;
  padding: 10px;
  margin: 10px; }

.notice {
  background: #FAE7F7;
  border-color: #ECBCE3;
  border-size: 2px;
  border-style: solid;
  border-radius: 3px;
  font-family: "PT Serif", serif;
  font-size: 15px;
  padding: 10px;
  margin: 10px; }

body, input, textarea, a {
  font-family: "PT Serif", serif;
  font-size: 15px;
  color: black;
  text-decoration: none; }

a:visited {
  color: #A03D8D; }

a:hover {
  color: #ECBCE3; }

input {
  margin: 10px 0 0 10px;
  border-radius: 3px; }

input:focus {
  outline: none;
  border-color: #B8ED93;
  border-size: 2px;
  border-style: solid;
  border-radius: 3px; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 30px; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: #D78DC8; }

.wrapper {
  width: 80%;
  padding: 20px 10%;
  margin: 20px auto; }

nav {
  height: 100px;
  min-width: 100%;
  background: #FAE7F7;
  border-bottom-style: solid;
  border-bottom-size: 2px;
  border-bottom-color: #ECBCE3; }

.site_title {
  display: inline-block;
  margin-left: 10%;
  margin-top: 10px;
  float: left;
  font-size: 60px; }

.topnav {
  margin: 0 10% 20px 0;
  padding-top: 45px;
  list-style: none; }

.topnav > li {
  float: right;
  margin: 10px 0 10px 0; }

.drop_down {
  visibility: hidden;
  opacity: 0;
  float: right;
  margin: 20px 0 20px 0;
  list-style: none; }

.drop_touch {
  width: 96px; }

.drop_touch:hover > .drop_down {
  visibility: visible;
  opacity: 1;
  float: right;
  margin: 20px 0 20px 0;
  list-style: none; }