// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post > form {
	border: none;
	display: block;
	margin: 0;
	padding: 0;
}

.post > form > input {
	margin: 0;
}

.post_list > ul {
	float: left;
	min-width: 100%;
	list-style: none;
}
